<% content_for :items do %>
  <% if @models.empty? %>
    <div class="alert alert-info">
      <%= Icon icon: "person-arms-up", label: "" %>
      <%= signed_in? ? t(".no_results_html") : t(".no_results_signed_out_html", link: new_user_session_path) %>
      <% if @search %>
        <%= t ".search.or_other_sites" %>
        <%= render "search_links" %>
      <% end %>
    </div>
  <% else %>
    <div data-controller="model-list-selection" class="skip-link-container">
      <div data-model-list-selection-target="toolbar" hidden class="row align-items-center mb-2">
        <div class="col-auto">
          <%= link_to t(".selection.edit"), "#", data: {model_list_selection_target: "editLink", base_href: edit_model_path("__ID__")}, class: "btn btn-sm btn-primary me-2" %>
          <% if policy(:model).bulk_edit? %>
            <%= form_with url: bulk_edit_selected_models_path, method: :post, data: {model_list_selection_target: "bulkEditForm", action: "submit->model-list-selection#clearOnSubmit"}, class: "d-inline" do %>
              <div data-model-list-selection-target="idsContainer"></div>
              <button type="submit" class="btn btn-sm btn-secondary me-2"><%= t(".selection.bulk_edit") %></button>
            <% end %>
          <% end %>
          <button type="button" data-model-list-selection-target="clearButton" data-action="click->model-list-selection#clear" class="btn btn-sm btn-outline-secondary"><%= t(".selection.clear") %></button>
        </div>
      </div>
      <div class="row">
        <%= skip_link "sidebar", t(".skip_models") %>
        <div class="col col-auto ms-auto">
          <%= SortMenu(filter: @filter) %>
        </div>
      </div>
      <div class="row <%= model_list_grid_class %> mb-4">
        <%= render_component_collection Components::ModelCard, :model, @models %>
      </div>
      <% if @models.next_page %>
        <%= turbo_frame_tag "models_page_#{@models.next_page}", src: models_page_url(@models.next_page, @filter), loading: :lazy %>
      <% end %>
      <% if @search %>
        <div class="alert alert-info">
          <%= Icon icon: "search", label: "" %>
          <%= t ".search.other_sites" %>
          <%= render "search_links" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :actions do %>
  <%= link_to t(".bulk_edit"), edit_models_path((@additional_filters || {}).merge(@filter&.to_params)), class: "btn btn-secondary" if policy(:model).edit? %>
<% end %>

<% content_for :sidebar do %>
  <%= render "filters_card" %>
  <%= render "tags_card" %>
<% end %>
