<%= PageTitle title: t(".title"), breadcrumbs: {} %>

<p class="text-lg text-secondary-600 dark:text-secondary-400"><%= t(".description") %></p>

<% if current_user&.is_moderator? %>
  <div class="px-4 py-3 rounded-lg bg-info/10 text-info mb-4">
    <%= t(".moderator_notice") %>
  </div>
<% end %>

<table class="w-full border-collapse border border-secondary-200 dark:border-secondary-600 [&>tr:nth-child(even)]:bg-secondary-50 [&>tr:nth-child(even)]:dark:bg-secondary-800/50">
  <tr>
    <td class="border border-secondary-200 dark:border-secondary-600 px-4 py-2"><%= Doorkeeper::Application.human_attribute_name(:name) %></td>
    <%= content_tag(:td, class: "border border-secondary-200 dark:border-secondary-600 px-4 py-2") { Doorkeeper::Application.human_attribute_name(:owner) } if current_user&.is_moderator? %>
    <td class="border border-secondary-200 dark:border-secondary-600 px-4 py-2"><%= t Doorkeeper::Application.human_attribute_name(:scopes) %></td>
    <td class="border border-secondary-200 dark:border-secondary-600 px-4 py-2"><%= t Doorkeeper::Application.human_attribute_name(:created_at) %></td>
  </tr>
  <% @applications.find_each do |app| %>
    <tr>
      <td class="border border-secondary-200 dark:border-secondary-600 px-4 py-2"><%= link_to app.name, app, class: "text-primary-600 hover:underline" %></td>
      <%= content_tag(:td, class: "border border-secondary-200 dark:border-secondary-600 px-4 py-2") { app.owner.username } if current_user&.is_moderator? %>
      <td class="border border-secondary-200 dark:border-secondary-600 px-4 py-2"><%= app.scopes %></td>
      <td class="border border-secondary-200 dark:border-secondary-600 px-4 py-2"><%= app.created_at.to_fs(:long) %></td>
    </tr>
  <% end %>
</table>

<%= link_to t(".new"), new_doorkeeper_application_path, class: "inline-flex items-center gap-1.5 px-3 py-1.5 text-sm font-medium rounded-lg bg-primary-600 text-white hover:bg-primary-700 focus-visible:ring-2 focus-visible:ring-primary-500" %>
