<%= PageTitle title: t(".title"), breadcrumbs: {
      t("doorkeeper_applications.index.title") => doorkeeper_applications_path,
      t("doorkeeper_applications.show.title") => doorkeeper_application_path(@application)
    } %>

<p><%= t(".description") %></p>

<table class="w-full border-collapse border border-secondary-200 dark:border-secondary-600 [&>tr:nth-child(even)]:bg-secondary-50 [&>tr:nth-child(even)]:dark:bg-secondary-800/50">
  <tr>
    <th class="border border-secondary-200 dark:border-secondary-600 px-4 py-2 text-left"><%= Doorkeeper::AccessToken.human_attribute_name(:fingerprint) %></th>
    <td class="border border-secondary-200 dark:border-secondary-600 px-4 py-2"><%= token_fingerprint(@token) %></td>
  </tr>
  <tr>
    <th class="border border-secondary-200 dark:border-secondary-600 px-4 py-2 text-left"><%= Doorkeeper::AccessToken.human_attribute_name(:expires_in) %></th>
    <td class="border border-secondary-200 dark:border-secondary-600 px-4 py-2"><%= token_expiry_string(@token) %></td>
  </tr>
  <tr>
    <th class="border border-secondary-200 dark:border-secondary-600 px-4 py-2 text-left"><%= Doorkeeper::AccessToken.human_attribute_name(:scopes) %></th>
    <td class="border border-secondary-200 dark:border-secondary-600 px-4 py-2"><%= @token.scopes %></td>
  </tr>
  <tr>
    <th class="border border-secondary-200 dark:border-secondary-600 px-4 py-2 text-left"><%= Doorkeeper::AccessToken.human_attribute_name(:token) %></th>
    <td class="border border-secondary-200 dark:border-secondary-600 px-4 py-2"><%= CopyableText text: @plaintext_token, obfuscated: true %></td>
  </tr>
</table>

<div>
  <p><%= t(".bearer_token_help") %></p>
  <code class="block mt-2 px-3 py-2 bg-secondary-100 dark:bg-secondary-800 rounded">Authentication: Bearer your_token_goes_here</code>
</div>

<div class="mt-3">
  <%= GoButton href: doorkeeper_application_path(@application), label: t(".done"), variant: "primary" %>
</div>
