<%= PageTitle title: t(".title"), breadcrumbs: {
      t("doorkeeper_applications.index.title") => doorkeeper_applications_path,
      t("doorkeeper_applications.show.title") => doorkeeper_application_path(@application)
    } %>

<p><%= t(".description") %></p>

<table class="tw:w-full tw:border-collapse tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 [&>tr:nth-child(even)]:tw:bg-secondary-50 [&>tr:nth-child(even)]:dark:tw:bg-secondary-800/50">
  <tr>
    <th class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2 tw:text-left"><%= Doorkeeper::AccessToken.human_attribute_name(:fingerprint) %></th>
    <td class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2"><%= token_fingerprint(@token) %></td>
  </tr>
  <tr>
    <th class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2 tw:text-left"><%= Doorkeeper::AccessToken.human_attribute_name(:expires_in) %></th>
    <td class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2"><%= token_expiry_string(@token) %></td>
  </tr>
  <tr>
    <th class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2 tw:text-left"><%= Doorkeeper::AccessToken.human_attribute_name(:scopes) %></th>
    <td class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2"><%= @token.scopes %></td>
  </tr>
  <tr>
    <th class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2 tw:text-left"><%= Doorkeeper::AccessToken.human_attribute_name(:token) %></th>
    <td class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2"><%= CopyableText text: @plaintext_token, obfuscated: true %></td>
  </tr>
</table>

<div>
  <p><%= t(".bearer_token_help") %></p>
  <code class="tw:block tw:mt-2 tw:px-3 tw:py-2 tw:bg-secondary-100 tw:dark:tw:bg-secondary-800 tw:rounded">Authentication: Bearer your_token_goes_here</code>
</div>

<div class="tw:mt-3">
  <%= GoButton href: doorkeeper_application_path(@application), label: t(".done"), variant: "primary" %>
</div>
