<div class="rounded-xl border border-secondary-200 dark:border-secondary-600 bg-surface dark:bg-surface-dark shadow-sm overflow-hidden">
  <h2 class="px-4 py-3 bg-secondary-600 text-white m-0 font-medium flex items-center gap-2">
    <%= Icon icon: "search" %>
    <%= t ".title" %>
  </h2>

  <div class="p-4">
    <p>
      <%= t ".content" %>
    </p>
    <%= content_tag(:p) { t ".more_access" } if current_user && !current_user&.is_contributor? %>
    <div class="text-right mt-2">
      <%= GoButton(label: t(".manual_link"), href: "https://manyfold.app/manual", variant: :primary, icon: "box-arrow-up-right", target: "_manyfold_user_guide") %>
    </div>
  </div>

</div>
