<h3 class="text-xl font-semibold text-secondary-900 dark:text-secondary-100 mb-2"><%= t(".heading") %></h3>
<p class="text-lg text-secondary-600 dark:text-secondary-400">
  <%= t(".description") %>
</p>

<%= form_with url: settings_path, method: :patch, class: "tabular-form" do |form| %>
  <%= checkbox_input_row form, "analysis[manifold]",
        label: t(".manifold.label"),
        checked: SiteSettings.analyse_manifold,
        help: t(".manifold.help") %>
  <%= render "submit", form: form %>
<% end %>
