<h3 class="text-xl font-semibold text-secondary-900 dark:text-secondary-100 mb-2"><%= t(".heading") %></h3>
<p class="text-lg text-secondary-600 dark:text-secondary-400">
  <%= t(".description") %>
</p>

<%= form_with url: settings_path, method: :patch, class: "tabular-form" do |form| %>
  <%= checkbox_input_row form, "discovery[allow_robots]",
        label: t(".allow_robots.label"),
        checked: SiteSettings.allow_robots,
        help: t(".allow_robots.help") %>
  <%= checkbox_input_row form, "discovery[allow_ai_bots]",
        label: t(".allow_ai_bots.label"),
        checked: SiteSettings.allow_ai_bots,
        help: t(".allow_ai_bots.help") %>
  <hr>
  <h4 class="text-lg font-medium text-secondary-900 dark:text-secondary-100 mt-4 mb-2"><%= t(".indexing.heading") %></h4>
  <p>
    <%= t(".indexing.description") %>
  </p>
  <%= checkbox_input_row form, "discovery[default_indexable]",
        label: t(".default_indexable.label"),
        checked: SiteSettings.default_indexable,
        help: t(".default_indexable.help") %>
  <%= checkbox_input_row form, "discovery[default_ai_indexable]",
        label: t(".default_ai_indexable.label"),
        checked: SiteSettings.default_ai_indexable,
        help: t(".default_ai_indexable.help_html") %>
  <%= render "submit", form: form %>
<% end %>
