<h3 class="text-xl font-semibold text-secondary-900 dark:text-secondary-100 mb-2"><%= t(".stats") %></h3>

<div class="flex flex-wrap gap-4">
  <%= StatBlock(title: Model, value: model_count) %>
  <%= StatBlock(title: ModelFile, value: model_file_count) %>
  <%= StatBlock(title: Creator, value: creator_count) %>
  <%= StatBlock(title: Collection, value: collection_count) %>
  <%= StatBlock(title: User, value: user_count) %>
  <%= StatBlock(title: ActsAsTaggableOn::Tag, value: tag_count) %>
  <%= StatBlock(title: t(".total_file_size"), value: number_to_human_size(total_file_size, precision: 2)) %>
</div>

<hr class="<%= divider_classes %>">

<%= form_with url: settings_path, method: :patch, class: "tabular-form" do |form| %>

  <%= render "folder_settings", form: form %>
  <hr class="<%= divider_classes %>">
  <%= render "file_settings", form: form %>
  <hr class="<%= divider_classes %>">
  <%= render "tag_settings", form: form %>

  <%= render "submit", form: form %>
<% end %>
