<%= PageTitle title: t(".title") %>

<div class="tw:mb-4">
  <%= t ".description", retention_period: distance_of_time_in_words(ActiveJob::Status.options[:expires_in]) %>
</div>

<%= paginate @jobs %>

<table class="tw:w-full tw:border-collapse tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:mt-3 [&>tbody>tr:nth-child(even)]:tw:bg-secondary-50 [&>tbody>tr:nth-child(even)]:dark:tw:bg-secondary-800/50">
  <tr>
    <th class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2 tw:text-left"></th>
    <th class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2 tw:text-left"><%= t(".name") %></th>
    <th class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2 tw:text-left"><%= t(".time") %></th>
    <th class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2 tw:text-left"><%= t(".message") %></th>
  </tr>
  <% @jobs.each do |status| %>
    <tr class="<%= activity_row_style(status[:status]) %>">
      <td class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2"><%= status_icon(status[:status]) %></td>
      <td class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2"><%= status.read.dig(:serialized_job, "job_class") %></td>
      <td class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2"><%= time_ago_in_words status.last_activity if status.last_activity %></td>
      <td class="tw:border tw:border-secondary-200 tw:dark:tw:border-secondary-600 tw:px-4 tw:py-2"><%= status[:exception]&.fetch(:message, nil) || t(status[:step] || status[:error]) %></td>
    </tr>
  <% end %>
</table>

<%= paginate @jobs %>
