<%= PageTitle title: t(".title", name: @name) %>
<p>
  <%= t(".help", name: @name) %>
</p>

<% if @remote_account %>
  <div class="px-4 py-3 rounded-lg bg-info/10 text-info mb-4 flex items-center gap-2">
    <%= Icon icon: "person-arms-up", label: "" %>
    <%= t(".no_results_html", query: @remote_account) %>
  </div>
<% end %>

<div class="max-w-xl">
  <%= form_with url: perform_remote_follow_path, class: "mt-4", data: {turbo: false} do |f| %>
    <div class="flex rounded-lg overflow-hidden border border-secondary-300 dark:border-secondary-600 mb-4">
      <%= f.hidden_field :uri, value: @uri %>
      <%= f.hidden_field :name, value: @name %>
      <%= f.text_field :remote_account, class: "flex-1 block w-full rounded-none border-0 px-3 py-2 shadow-sm focus:ring-2 focus:ring-primary-500 dark:bg-secondary-800", placeholder: translate(".placeholder"),
            aria_label: translate(".submit"), aria_describedby: "button-search", value: @remote_account %>
      <%= f.submit translate(".submit"), class: "inline-flex items-center px-4 py-2 bg-primary-600 text-white hover:bg-primary-700 focus-visible:ring-2 focus-visible:ring-primary-500", name: nil, id: "button-search" %>
    </div>
  <% end %>
</div>
