<% if defined?(kv_tags) && kv_tags %>
  <% tiers = kv_tags.map(&:name).map { |tag| tag.split(":").first }.uniq.sort %>
  <% if @models
       tierunset = tiers.map { |tier|
         reg = ActiveRecord::Base.with_connection { |conn| conn.quote("^" + tier + ":") }
         regact = DatabaseDetector.is_postgres? ? "~" : "REGEXP"
         [tier, @models.where("(select count(*) from tags join taggings on tags.id=taggings.tag_id where tags.name #{regact} #{reg} and taggings.taggable_id=models.id and taggings.taggable_type='Model')<1").count]
       }.to_h
     end %>
<% end %>
<%- tag_html_opts = {data: {bulk_item_tags: defined?(model_id) ? model_id&.to_s : nil}} %>
<%- heatmap = defined?(show_count) ? heatmap : tag_cloud_settings["heatmap"] %>
<%= render_component_collection(Components::Tag, :tag, tags, filters: filter.to_params.merge(@additional_filters), html_options: tag_html_opts, show_count: heatmap, filter_in_place: @filter_in_place) if tags %>
<% if defined?(kv_tags) && kv_tags %>
  <ul class="tw:list-none tw:pl-0 tw:m-0">
    <% tiers.each do |tier| %>
      <li class="tw:border-b tw:border-secondary-200 tw:dark:border-secondary-600">
        <details id="<%= tier %>" data-controller="tag-section" data-action="toggle->tag-section#saveState">
          <summary class="tw:cursor-pointer tw:py-2 tw:list-none"><%= tier %></summary>
          <%= render "tag_list", tags: kv_tags.select { |obj| obj.name.match?("^#{tier}:") }, filter: @filter %>
          <%- if tierunset && tierunset[tier] > 0 %>
            <%= link_to "unset (#{tierunset[tier]})", filter.to_params.merge(missingtag: tier), class: "tw:inline-flex tw:px-2 tw:py-0.5 tw:rounded-full tw:text-xs tw:border tw:border-secondary-300 tw:dark:border-secondary-500 tw:text-danger hover:tw:bg-secondary-100 tw:dark:hover:bg-secondary-700" %>
          <%- end %>
        </details>
      </li>
    <% end %>
  </ul>
<% end %>
<% if defined?(unrelated_tag_count) && unrelated_tag_count && unrelated_tag_count > 0 %>
  <p class="tw:text-sm tw:text-secondary-600 tw:dark:text-secondary-400"><%= t ".unrelated_tag_count", count: unrelated_tag_count %></p>
<% end %>
